
  {{ randomBeer }}
    
        {{> beerpartial}}
        <ul>
          {{#each food_pairing}}
            <li>
              {{this}}
            </li>
          {{/each}}
        </ul>
        <p><em> {{ brewers_tips }} </em></p>
        <hr>
    
